
.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}
.input-box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    box-shadow: inset 0 0 5px black;
}
.input-box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}
.input-submit{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    background-color: aqua;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}
.input-submit:hover{
    background-color: aquamarine;
}
.input-submit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}
.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.todos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
   justify-content: center;
}
.todo-single{
    display: flex;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    margin: 15px;
    background:yellow;
    transition: 0.2s;
}
.active-todo{

    padding-bottom: 20px;
    width: 100%;
    margin: 15px;
}
.todos-heading{
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.todo-single:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}
.todo-single-text{
    flex:1;
    padding: 5px;
    border: none;
    font-size: 20px;
}
.todo-single-text:focus{
    outline: none;
}
.icon{
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width:700px) {
    .container{
       display: flex;
    flex-direction: column;
    width: 90%;       
    }
    .input{
        width: 95%;
    }
  
    
}